$len-px:1px;
$len-1:0.25rem; 	/* 4px */
$len-2:0.5rem;  	/* 8px */
$len-3:0.75rem; 	/* 12px */
$len-4:1rem; 		/* 16px */
$len-5:1.25rem; 	/* 20px */
$len-6:1.5rem; 		/* 24px */
$len-7:1.75rem;	    /* 28px */
$len-8:2rem; 		/* 32px */
$len-9:2.25rem;	    /* 36px */
$len-10:2.5rem;  	/* 40px */
$len-11:2.75rem;  	/* 44px */
$len-12:3rem;  		/* 48px */
$len-14:3.5rem; 	    /* 56px */
$len-16:4rem; 		/* 64px */
$len-20:5rem; 		/* 80px */
$len-24:6rem; 		/* 96px */
$len-28:7rem; 		/* 112px */
$len-32:8rem; 		/* 128px */
$len-36:9rem; 		/* 144px */
$len-40:10rem; 		/* 160px */
$len-44:11rem;	    /* 176px */
$len-48:12rem; 		/* 192px */
$len-52:13rem; 		/* 208px */
$len-56:14rem;	    /* 224px */
$len-60:15rem; 		/* 240px */
$len-64:16rem; 		/* 256px */
$len-72:18rem;	    /* 288px */
$len-80:20rem;	    /* 320px */
$len-96:24rem;	