@import "colors";
@import "_fontsize";
@import "_length";

.page {
  background-color: $bg_primary;
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.right_panel {
  background-color: $bg_primary;
  width: 100%;
  margin-left: 20vw;
  margin-right: $len-4;
}

.welcome_container {
  background-color: $bg-secondary;
  padding: $len-3 $len-5;
  border-radius: $len-2;

  h1 {
    margin: 0px;
    margin-bottom: $len-2;
    font-size: $lg;
  }
  p {
    margin: 0px;
    font-size: $sm;
  }
}

.status {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  gap: $len-3;
  margin: $len-3 0px;
}

.activity {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  gap: $len-3;
  margin: $len-3 0px;
}

.location_other_info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  justify-content: center;
  gap: $len-3;
  margin: $len-3 0px;
  & > * {
    width: 100%;
    background-color: white;
    border-radius: $len-3;
  }
}

.payment_container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: $len-3;
  margin: $len-3 0px;
}

.analytics {
  display: flex;
  justify-content: space-between;
  gap: $len-3;
  margin: $len-3 0px;
}

.analytics > * {
  background-color: white;
  border-radius: $len-4;
  // width: 100%;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}