@import "colors";
@import "_fontsize";
@import "_length";

.page_container {
  display: grid;
  // max-height: 100vh;
  overflow-y: hidden;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.welcome_container {
  position: absolute;
  width: 60%;
  top: 40%;
  color: white;
  left: 10%;
  h1 {
    font-size: $xxxl;
    font-weight: 200;
    margin-bottom: 10px;
  }
  p {
    font-size: $sm;
  }
}

.background {
  position: relative;
  grid-column: span 2 / span 2;
  img {
    width: 100%;
    height: 100%;
  }
}

.sidebar {
  display: flex;
  padding: 2rem 0rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  button {
    width: 70%;
    margin: auto;
    background-color: $purple;
    font-weight: 400;
  }
}

.form_container {
  display: flex;
  color: $text_primary;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  width: 100%;
  h1 {
    font-size: $base;
    font-weight: 400;
    color: $grey;
  }
}

.form_inputs > * {
  margin-bottom: 2rem;
  width: 100%;
}

.form_inputs {
  width: 70%;
  margin: auto;
  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $grey;
    border-radius: 0;
  }
  p {
    a {
      text-align: end;
      text-decoration: none;
      font-size: $base;
      color: $grey;
      width: 100%;
      display: block;
    }
  }
}

.checkbox_container {
  display: flex;
  align-items: center;
  gap: 5px;

  button {
    span {
      font-weight: 200 !important;
      font-size: $base;
    }
  }
}

.forgetPasswordTab{
  display: flex ;
  align-items: center;
  justify-content: space-around;
  gap: $len-5;
  p{
    text-decoration: underline;
    cursor: pointer;
    color: $purple;
  }
}